.lista-pokemons{
    
    display: grid;
    align-content: center;
    justify-items: center;
    grid-template-columns: repeat(5, 1fr);
	gap: 35px;
    padding-left: 40px;
    padding-right: 40px;
}